<%= render 'sidebar' %>

<% if User.current.did_not_rate_this_day %>
  <%= javascript_pack_tag "swipe" %>

  <div class="flex flex-col text-3xl justify-center items-center h-1/4">
    <h1 class="mt-10"><%= t('hi') %></h1>
    <h2 class="mt-4 no-select text-lg"><%= t('how_was_your_day') %></h2>
  </div>

  <div class="flex justify-center items-center h-1/2 z-20">
    <div class="relative no-select w-1/2 h-auto bg-white transition-transform duration-100 ease-in-out" id="swipe-widget">
      <img id="neutral-face" src="face_without_mouth.svg" class="no-select pointer-events-none absolute l-0 t-0 w-full h-auto"></img>
      <img id="sad-face" src="slightly_frowning_face.svg" class="hidden no-select pointer-events-none absolute l-0 t-0 w-full h-auto"></img>
      <img id="smiling-face" src="slightly_smiling_face.svg" class="hidden no-select pointer-events-none absolute l-0 t-0 w-full h-auto"></img>
      <img src="background.svg" class="no-select pointer-events-none w-full h-auto"></img>
    </div>
  </div>

  <div class="fullscreen pointer-events-none z-10">
    <img class="z-10 hidden no-select fixed left-0 bottom-0" id="left-gradient" src="gradient-red.png"></img>
    <img class="z-10 hidden no-select fixed right-0 bottom-0" id="right-gradient" src="gradient-green.png"></img>
  </div>
<% else %>
  <div class="flex justify-center">
    <div class="text-center mt-20 w-9/12 sm:w-7/12">
      <h1 class="text-xl"><%= t('you_already_rated_your_day') %></h1>
      <%= link_to button_tag(t('change_rating'), class: "mt-4"), '/day/delete' %>
    </div>
  </div>
<% end %>
